name: Flask CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test-and-docker:
    runs-on: ubuntu-latest
    steps:
      # Step 1: Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Set up Python
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      # Step 3: Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Step 4: Set PYTHONPATH
      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=$GITHUB_WORKSPACE/src:$GITHUB_WORKSPACE" >> $GITHUB_ENV

      # Step 5: Run tests
      - name: Run pytest
        id: pytest
        run: pytest tests/
      
      # Step 6: Build Docker only if tests passed
      - name: Build Docker Image
        if: success()   # Only runs if previous step succeeded
        run: docker build -t flask-devops:latest -f docker/Dockerfile .

      # Step 7: Log in to GitHub Container Registry
      - name: Log in to GHCR
        if: success()   # Only runs if previous steps succeeded
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Step 8: Tag and push Docker image
      - name: Push Docker Image
        if: success()   # Only runs if previous steps succeeded
        run: |
          docker tag flask-devops:latest ghcr.io/${{ github.repository_owner }}/flask-devops:latest
          docker push ghcr.io/${{ github.repository_owner }}/flask-devops:latest
